nodered.txt
[{"id":"bd8934da.c9a1c8","type":"html","z":"e7ea0a39.a13498","name":"","property":"payload","outproperty":"payload","tag":"table[class]","ret":"html","as":"single","x":519.1305999755859,"y":115.56208515167236,"wires":[["dc0005d.4bf3ff8"]]},{"id":"c4e27bf4.9ab708","type":"http request","z":"e7ea0a39.a13498","name":"","method":"GET","ret":"txt","url":"http://admin:delta5@10.0.0.100:5000/database","tls":"","x":344.1267318725586,"y":118.48005437850952,"wires":[["bd8934da.c9a1c8"]]},{"id":"84b9e1f5.c35f6","type":"inject","z":"e7ea0a39.a13498","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":175.501708984375,"y":116.65584468841553,"wires":[["c4e27bf4.9ab708"]]},{"id":"dc0005d.4bf3ff8","type":"function","z":"e7ea0a39.a13498","name":"","func":"msg.payload=msg.payload[2];\nreturn msg;","outputs":1,"noerr":0,"x":672.1345195770264,"y":115.56605291366577,"wires":[["c4a4bd84.54529"]]},{"id":"c4a4bd84.54529","type":"html","z":"e7ea0a39.a13498","name":"","property":"payload","outproperty":"payload","tag":"tr","ret":"html","as":"single","x":167.13458061218262,"y":202.5659999847412,"wires":[["3eb73f04.48952"]]},{"id":"3eb73f04.48952","type":"function","z":"e7ea0a39.a13498","name":"","func":"msg.payload=msg.payload[msg.payload.length-1];\nreturn msg;","outputs":1,"noerr":0,"x":300.63069343566895,"y":199.22616481781006,"wires":[["2792619d.674fde"]]},{"id":"2792619d.674fde","type":"html","z":"e7ea0a39.a13498","name":"","property":"payload","outproperty":"payload","tag":"td","ret":"html","as":"single","x":457.63069343566895,"y":200.22616481781006,"wires":[["4a5215b4.14730c"]]},{"id":"77740513.ede88c","type":"MagicHome UFO","z":"e7ea0a39.a13498","name":"local","ip":"10.0.0.80","x":742.8946495056152,"y":200.3711404800415,"wires":[[]]},{"id":"4a5215b4.14730c","type":"function","z":"e7ea0a39.a13498","name":"","func":"var oldid = context.get('oldid')||0;\nvar id=msg.payload[1];\n\n\nif(id==0){\n msg.payload = { \"on\": true, \"color\": \"#FF0000\"}\n}\nif(id==1){\n msg.payload = { \"on\": true, \"color\": \"#FF00FF\"}\n}\nif(id==2){\n msg.payload = { \"on\": true, \"color\": \"#0000FF\"}\n}\nif(id==3){\n msg.payload = { \"on\": true, \"color\": \"#00FF00\"}\n}\n\nif(id==4){\n msg.payload = { \"on\": true, \"color\": \"#FF0000\"}\n}\nif(id==5){\n msg.payload = { \"on\": true, \"color\": \"#FF00FF\"}\n}\nif(id==6){\n msg.payload = { \"on\": true, \"color\": \"#0000FF\"}\n}\nif(id==7){\n msg.payload = { \"on\": true, \"color\": \"#00FF00\"}\n}\n\n\nreturn msg;  \n","outputs":1,"noerr":0,"x":608.0196495056152,"y":201.00392627716064,"wires":[["77740513.ede88c"]]}]